.web-portafolio {
    align-items: flex-start;
    background-color: var(--color-background-default-default);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: var(--responsive-device-width);
  }
  
  /* Bloque: hero */
  .hero {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 10px;
    height: 444px;
    position: relative;
    width: 100%;
  }
  
  .hero__background {
    background-color: var(--color-background-default-secondary);
    flex: 1;
    height: 447px;
    margin-bottom: -3px;
    position: relative;
  }
  
  .hero__image {
    height: 375px;
    left: 205px;
    object-fit: cover;
    position: absolute;
    top: 25px;
    width: 214px;
  }
  
  /* Bloque: about */
  .about__image {
    height: 146px;
    left: 536px;
    position: absolute;
    top: 230px;
    width: 513px;
  }
  
  /* Bloque: contact */
  .contact__heading {
    left: 64px !important;
    position: absolute !important;
    top: 3127px !important;
  }
  
  .contact__subheading-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: var(--size-space-200);
    left: 125px;
    position: absolute;
    top: 1218px;
  }
  
  .contact__subheading {
    align-self: stretch;
    color: var(--color-text-default-secondary);
    font-family: var(--subheading-font-family);
    font-size: var(--subheading-font-size);
    font-style: var(--subheading-font-style);
    font-weight: var(--subheading-font-weight);
    letter-spacing: var(--subheading-letter-spacing);
    line-height: var(--subheading-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .footer__date {
    color: #948d8d;
    font-family: var(--body-small-font-family);
    font-size: var(--body-small-font-size);
    font-style: var(--body-small-font-style);
    font-weight: var(--body-small-font-weight);
    left: 99px;
    letter-spacing: var(--body-small-letter-spacing);
    line-height: var(--body-small-line-height);
    position: absolute;
    top: 1383px;
    width: 240px;
  }
  
  /* Bloque: articles */
  .articles__title {
    color: #51bbb1;
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-style: var(--subtitle-font-style);
    font-weight: var(--subtitle-font-weight);
    height: 46px;
    left: 82px;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    position: absolute;
    top: 1120px;
    white-space: nowrap;
    width: 1080px;
  }
  
  .articles__image {
    height: 170px;
    left: 88px;
    object-fit: cover;
    position: absolute;
    top: 2012px;
    width: 160px;
  }
  
  /* Bloque: contact */
  .contact__label {
    color: #51bbb1;
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-style: var(--subtitle-font-style);
    font-weight: var(--subtitle-font-weight);
    left: 59px;
    letter-spacing: var(--subtitle-letter-spacing);
    line-height: var(--subtitle-line-height);
    position: absolute;
    top: 2292px;
    width: 189px;
  }
  