:root {
    --body-base-font-family: "Inter", Helvetica;
    --body-base-font-size: 16px;
    --body-base-font-style: normal;
    --body-base-font-weight: 400;
    --body-base-letter-spacing: 0px;
    --body-base-line-height: 139.9999976158142%;
    --body-small-font-family: "Inter", Helvetica;
    --body-small-font-size: 14px;
    --body-small-font-style: normal;
    --body-small-font-weight: 400;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 139.9999976158142%;
    --body-strong-font-family: "Inter", Helvetica;
    --body-strong-font-size: 16px;
    --body-strong-font-style: normal;
    --body-strong-font-weight: 600;
    --body-strong-letter-spacing: 0px;
    --body-strong-line-height: 139.9999976158142%;
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-background-default-secondary: var(--color-primitives-gray-100);
    --color-background-default-secondary-hover: var(--color-primitives-gray-200);
    --color-background-neutral-tertiary: var(--color-primitives-slate-200);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-border-neutral-secondary: var(--color-primitives-slate-600);
    --color-primitives-brand-100: rgba(245, 245, 245, 1);
    --color-primitives-brand-300: rgba(217, 217, 217, 1);
    --color-primitives-brand-600: rgba(68, 68, 68, 1);
    --color-primitives-brand-800: rgba(44, 44, 44, 1);
    --color-primitives-brand-900: rgba(30, 30, 30, 1);
    --color-primitives-gray-100: rgba(245, 245, 245, 1);
    --color-primitives-gray-200: rgba(230, 230, 230, 1);
    --color-primitives-gray-300: rgba(217, 217, 217, 1);
    --color-primitives-gray-500: rgba(117, 117, 117, 1);
    --color-primitives-gray-600: rgba(68, 68, 68, 1);
    --color-primitives-gray-800: rgba(44, 44, 44, 1);
    --color-primitives-gray-900: rgba(30, 30, 30, 1);
    --color-primitives-slate-1000: rgba(36, 36, 36, 1);
    --color-primitives-slate-200: rgba(227, 227, 227, 1);
    --color-primitives-slate-300: rgba(205, 205, 205, 1);
    --color-primitives-slate-500: rgba(148, 148, 148, 1);
    --color-primitives-slate-600: rgba(118, 118, 118, 1);
    --color-primitives-slate-900: rgba(48, 48, 48, 1);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);
    --color-primitives-white-500: rgba(255, 255, 255, 0.7);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-text-default-secondary: var(--color-primitives-gray-500);
    --color-text-neutral-default: var(--color-primitives-slate-900);
    --heading-font-family: "Inter", Helvetica;
    --heading-font-size: 24px;
    --heading-font-style: normal;
    --heading-font-weight: 600;
    --heading-letter-spacing: -0.48px;
    --heading-line-height: 120.00000476837158%;
    --responsive-device-width: 1200px;
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-font-style: normal;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --size-radius-200: 8px;
    --size-space-1200: 48px;
    --size-space-1600: 64px;
    --size-space-200: 8px;
    --size-space-300: 12px;
    --size-space-400: 16px;
    --size-space-4000: 160px;
    --size-space-600: 24px;
    --size-space-800: 32px;
    --subheading-font-family: "Inter", Helvetica;
    --subheading-font-size: 20px;
    --subheading-font-style: normal;
    --subheading-font-weight: 400;
    --subheading-letter-spacing: 0px;
    --subheading-line-height: 120.00000476837158%;
    --subtitle-font-family: "Inter", Helvetica;
    --subtitle-font-size: 32px;
    --subtitle-font-style: normal;
    --subtitle-font-weight: 400;
    --subtitle-letter-spacing: 0px;
    --subtitle-line-height: 120.00000476837158%;
    --title-hero-font-family: "Inter", Helvetica;
    --title-hero-font-size: 72px;
    --title-hero-font-style: normal;
    --title-hero-font-weight: 700;
    --title-hero-letter-spacing: -2.16px;
    --title-hero-line-height: 120.00000476837158%;
    --typography-primitives-scale-06: 32px;
  }
  
  /*
  
  To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:
  
  <body data-responsive-mode="desktop">
      <!-- the rest of your content -->
  </body>
  
  You can apply the theme on any DOM node, not just the `body`
  
  */
  
  [data-responsive-mode="desktop"] {
    --responsive-device-width: 1200px;
  }
  
  [data-responsive-mode="mobile"] {
    --responsive-device-width: 375px;
  }
  
  [data-responsive-mode="tablet"] {
    --responsive-device-width: 768px;
  }
  
  [data-color-mode="SDS-light"] {
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-brand-hover: var(--color-primitives-brand-900);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-background-default-secondary: var(--color-primitives-gray-100);
    --color-background-default-secondary-hover: var(--color-primitives-gray-200);
    --color-background-neutral-tertiary: var(--color-primitives-slate-200);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-border-neutral-secondary: var(--color-primitives-slate-600);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-text-default-secondary: var(--color-primitives-gray-500);
    --color-text-neutral-default: var(--color-primitives-slate-900);
  }
  
  [data-color-mode="SDS-dark"] {
    --color-background-brand-default: var(--color-primitives-brand-100);
    --color-background-brand-hover: var(--color-primitives-brand-300);
    --color-background-brand-tertiary: var(--color-primitives-brand-600);
    --color-background-default-default: var(--color-primitives-gray-900);
    --color-background-default-secondary: var(--color-primitives-gray-800);
    --color-background-default-secondary-hover: var(--color-primitives-gray-900);
    --color-background-neutral-tertiary: var(--color-primitives-slate-900);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-1000);
    --color-border-brand-default: var(--color-primitives-brand-100);
    --color-border-default-default: var(--color-primitives-gray-600);
    --color-border-neutral-secondary: var(--color-primitives-slate-500);
    --color-text-brand-on-brand: var(--color-primitives-brand-900);
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-100);
    --color-text-default-default: var(--color-primitives-white-1000);
    --color-text-default-secondary: var(--color-primitives-white-500);
    --color-text-neutral-default: var(--color-primitives-slate-200);
  }
  
  