.projects__card {
    width: 200px;
    height: 200px;
}


.projects__card {
    width: 20.56rem;
    height: 26.69rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

.projects__card-image {
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    object-fit: fill;
}

.projects__card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 84.8%;
}

.projects__card-title {
    color: #37807F;
    font-size: 1.375rem;
    font-weight: 700;
}

.projects__card-paragraph {
    font-size: 0.75rem;
    
}


.projects__card-button {
    background-color: #37807F;
    color: white;
    border: none;
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.438rem 1.625rem;
    border-radius: 10px;
    box-sizing: border-box;
    width: 37.4%;
}



.save-page__card-container--hidden {
    display: none;
}


.projects__card-save {
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-save__card-save-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}