@import 'base.css';
@import 'nav/nav.css';
@import 'hero/hero.css';
@import 'about-me/about-me.css';
@import 'projects/projects.css';
@import 'blog/blog.css';
@import 'contact/contact.css';
@import 'skills/skills.css';
@import 'footer/footer.css';

:root {
  --primary-color: #37807F;
  --secondary-color: #9BD2D4;
  --text-color: #333333;
  --background-color: #FFFFFF;
}
