.footer {
    width: 100%;
    color: #FFFFFF;
}

.footer__info {
    background-color: #79965B;
}

.footer__bottom {
    padding: 0.625rem 9rem;
    background-color: #000000;

}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 9rem;
}

.footer__links-group {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer__links-item {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    align-items: center;
    color: #FFFFFF;
}


.footer__links-icon {
    width: 1.25rem;
    height: 1.25rem;
}


@media (max-width: 480px) {

    .footer__content {
        padding: 0.625rem 1rem;
    }
    .footer__bottom {
        padding: 0.625rem 1rem;
    }
} 

@media(max-width: 420px) {
    .footer {
        width: 100%;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}